* {
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.btn {
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
}

/* container class to center everything within a maximum width*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

header, .hero {
    background-color: #1f2937;
    font-size: 18px;
}

/* Header */
header .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-text {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Hero section */
.hero {
    height: 400px;
    display: flex;
    align-items: center;
}
.hero .container {
    display: flex;
    align-items: center;
    gap: 64px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-block: 16px;
}

.hero-secondary-text {
    color: #e5e7eb;
    margin-block: 16px;
}

.hero-cta {
    background-color: #3882f6;
    margin-top: 16px;
}

.hero-image {
    background-color: #E5E7EB;
    width: 600px;
}

/* Information section */
.info {
    height: 500px;
    text-align: center;
    font-size: 18px;
}

.info-header-text {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin-block: 32px;
}

.info-card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-card {
    width: 200px;
}
.card-image {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 16px;
    margin-block: 16px;
}

/* Quote section */
.quote {
    height: 400px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-author {
    text-align: right;
    font-weight: 700;
}
